/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";

/* Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$theme-colors: (
  n: #181818,
  b: #e2e2e2,
  r: #a00000,
  g1: #222,
  g2: #464646,
  g3: #777,
  g4: #a7a7a7,
  g5: #cecece,
);

$plyr-color-main: theme-color("g1");

// Generate `.bg-*` color utilities
@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

/* fuentes */
// $ff-serif: crimson_text, serif;
$ff-sans: rubik, sans-serif;
$font-family-base: $ff-sans;

$spacer: 1rem;
$trans: 0.5s;

/** Hamburger icon */
$hamburger-padding-x: 0;
$hamburger-padding-y: 0;
$hamburger-layer-width: 40px;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 8px;
$hamburger-layer-color:theme-color("r");
$hamburger-layer-border-radius: 0;
