/* Z-INDEX
	.logo: 20
	.solapa: 25
	.hamburger: 30
	#buscar: 22
*/

.banner {
  z-index: 30;

  .brand {
    display: inline-block;
    background-color: theme-color("n");
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    padding: 2px 4px 1px 4px;
    color: theme-color("b");
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 700;
    line-height: 1.2em;

    &:hover {
      color: theme-color("r");
    }
  }

  .solapa {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 25;
  }

  .logo {
    position: relative;
    width: 100%;
    z-index: 20;

    svg {
      max-width: 100%;
      height: auto;
    }
  }

  .nav-primary {
    display: inline-block;
  }

  .nav {
    li {
      display: inline-block;
      margin-left: 0.4rem;
      font-weight: 400;
      margin-bottom: 2px;

      a {
        display: block;
        padding: 2px 4px 1px 4px;
        background-color: theme-color("n");
        color: theme-color("b");
        text-transform: uppercase;
        letter-spacing: 0.1em;
        line-height: 1.2em;

        &:hover {
          color: theme-color("r");
        }
      }

      &:first-child {
        margin-top: 0.4rem;
      }

      &.wpml-ls-item {
        font-weight: 200;
      }

      &.current-menu-item {
        a {
          background-color: theme-color("r");

          &:hover {
            background-color: theme-color("n");
          }
        }
      }
    }
  }

  .hamburger {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 30;

    &:focus {
      outline: none;
    }
  }

  #buscar {
    z-index: 22;

    label {
      margin-bottom: 0;

      input[type="search"] {
        border: none;
        border-left: 1px solid theme-color("b");
        border-radius: 0;
        height: 3rem;
        background-color: theme-color("n");

        &:focus {
          outline: none;
          border-color: theme-color("r");
          box-shadow: none;
          color: theme-color("b");
        }
      }
    }

    .cruz {
      font-size: 40px;
      top: calc(1rem + 40px);
      right: 1rem;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    input[type="submit"] {
      background-color: theme-color("n");
      border-radius: 0;
      border: 1px solid theme-color("b");
      margin-left: 2rem;
      height: 3rem;

      &:hover,
      :focus {
        border-color: theme-color("r");
        color: theme-color("r");
      }
    }
  }

  @include media-breakpoint-up(sm) {
    position: fixed;

    .logo {
      position: absolute;
      width: 100vw;
      height: 100vh;
    }

    .nav li a,
    .brand {
      padding: 3px 5px 2px 5px;
    }
  }

  @include media-breakpoint-up(md) {
    .nav li a,
    .brand {
      padding: 4px 6px 3px 6px;
    }
  }

  @include media-breakpoint-up(lg) {
    .nav li a,
    .brand {
      padding: 5px 7px 4px 7px;
    }
  }
}
