.page-template-contacto {
  .formulario {
    min-height: 100vh;

    .wpforms-error {
      margin-top: 0.5em;
    }

    .wpforms-container {
      width: 100%;

      input[type="text"],
      input[type="email"],
      textarea {
        color: theme-color("b");
        border: none;
        border-left: 2px solid theme-color("b");
        background-color: theme-color("n");
        padding: 1em;

        &::placeholder {
          color: theme-color("b");
        }

        &:focus {
          box-shadow: none;
          outline: none;
          border-color: theme-color("r");

          &::placeholder {
            color: theme-color("r");
          }
        }
      }
    }
  }
}
