.page-template-edicion {
  .article {
    margin-bottom: 4px;
    background-color: theme-color("b");
    color: theme-color("n");

    .flecha {
      font-size: 3rem;
    }

    h2 {
      font-weight: 700;
      font-size: 1rem;
    }

    .thumb {
      img {
        width: 100%;
        height: auto;
      }
    }

    &:hover,
    &:focus {
      background-color: #fff;
    }

    @include media-breakpoint-up(md) {
      .thumb {
        width: 30%;
      }

      .cont {
        width: 50%;
      }
    }
  }
}
