.home {
  .hero {
    width: 100%;
    background-color: theme-color("n");

    .plyr {
      width: 100%;

      &__video-wrapper,
      &__poster,
      &--video {
        background-color: theme-color("n");
      }
    }

    @media screen and (orientation: portrait) {
      //  …
    }

    @media screen and (orientation: landscape) {
      //  …
    }
  }

  @include media-breakpoint-up("sm") {
    .hero {
      height: 100vh;
    }
  }
}
