/* Z-INDEX
 * .banner 1
 * .brand: 100
 * .nav-primary: 200
 * .logo: 50
*/

.banner {
  z-index: 1;

  .brand {
    display: inline-block;
    background-color: theme-color("n");
    margin-top: 0.4rem;
    margin-left: 0.4rem;
    padding: 0.2rem 0.4rem 0.1rem 0.4rem;
    color: theme-color("b");
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-weight: 700;
    z-index: 100;
    line-height: 1.2em;

    &:hover {
      color: theme-color("r");
    }
  }

  .solapa {
    position: fixed;
    top: 0;
    left: 0;
  }

  .logo {
    width: 100%;

    svg {
      max-width: 100%;
      height: auto;
    }
  }

  .nav-primary {
    display: inline-block;
    z-index: 200;
  }

  .nav {
    li {
      display: inline-block;
      margin-left: 0.4rem;
      font-weight: 700;

      a {
        display: block;
        padding: 0.2rem 0.4rem 0.1rem 0.4rem;
        background-color: theme-color("n");
        color: theme-color("b");
        text-transform: uppercase;
        letter-spacing: 0.03em;
        line-height: 1.2em;

        &:hover {
          color: theme-color("r");
        }
      }

      &:first-child {
        margin-top: 0.4rem;
      }

      &.wpml-ls-item {
        font-weight: 200;
      }
    }
  }

  .hamburger {
    position: fixed;
    right: 1rem;
    top: 1rem;

    &:focus {
      outline: none;
    }
  }

  @include media-breakpoint-up(sm) {
    position: fixed;

    .logo {
      position: absolute;
      width: 100vw;
      height: 100vh;
      z-index: 0;
    }
  }
}
