/* stylelint-disable no-descending-specificity */

.post-type-archive-project {
  article {
    background-color: theme-color("n");
    transition: background-color $trans;
    border-bottom: 1px solid theme-color("b");

    &:last-child {
      border-bottom: none;
    }

    header {
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      transition: padding-top $trans, padding-bottom $trans;

      h2 {
        font-weight: 300;
        font-size: 1rem;
        letter-spacing: 0.02em;
        width: calc(100% - 8rem);

        a {
          color: theme-color("b");

          &:hover {
            color: theme-color("r");
          }
        }
      }

      button {
        width: 5rem;
        background-color: transparent;
        border: none;
        color: theme-color("b");

        svg {
          transform: rotate(0deg);
          transition: transform 0.3s;
        }

        &:not(.collapsed) {
          svg {
            transform: rotate(90deg);
          }
        }

        &:focus {
          outline: none;
          color: theme-color("r");
        }
      }

      .permalink {
        width: 5rem;
        color: theme-color("b");

        &:hover {
          color: theme-color("r");
        }
      }
    }

    &.desplegado {
      background-color: theme-color("b");

      header {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }

      h2 {
        font-weight: 700;

        a {
          color: theme-color("n");
        }
      }

      button,
      .permalink {
        color: theme-color("n");
      }
    }

    .despliegue {
      border-top: 1px dotted theme-color("g3");

      .meta {
        .ficha p {
          margin-bottom: 0;
        }
      }

      .thumb {
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }

    @include media-breakpoint-up(sm) {
      .despliegue {
        .wrapper {
          display: flex;
        }

        .meta {
          width: 40%;
        }

        .thumb {
          width: 60%;
        }
      }
    }
  }
}
